{% if messages %}
    {% for message in messages %}
        <div id="message"
             class="
             {% if message.tags == 'success' %}
                bg-green-600
             {% elif message.tags == 'error' %}
                bg-red-600
             {% elif message.tags == 'warning' %}
                bg-yellow-500
             {% else %}
                bg-blue-600
             {% endif %}
             text-white p-3 rounded mb-4 transition-opacity duration-500">

            {{ message }}

        </div>
    {% endfor %}
{% endif %}

<script>
setTimeout(() => {
    const msg = document.getElementById("message");

    if (msg) {
        msg.style.opacity = "0";

        setTimeout(() => {
            msg.remove();
        }, 500);
    }
}, 3000);
</script>